.App {
  text-align: center;
  display: flex;
  overflow-y: hidden;
}

.editorWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #d4d4d4;
  min-width: 200px;
  width: 25%;
}

section {
  height: 92vh !important;
}

.editor {
  height: 92vh;
}

h4 {
  margin: 0;
  height: 8vh;
  line-height: 8vh;
  vertical-align: center;
}

