.App {
  text-align: center;
  display: flex;
}

.editor {
  min-width: 300px;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

h {
  margin: 10px;
}

/* .myLineDecoration { */
/* 	background: lightblue; */
/* 	width: 5px !important; */
/* 	margin-left: 3px; */
/* } */
